<h1 class="text-center">WELL SERVICES AND REPAIRS</h1>

<% if current_user %>
  <h3><%= link_to 'New Picture', '/well_pumps/service_repairs/new' %></h3>
<% end %>

<% @service_repairs.each do |service| %>
  <div class='images'>
    <%= link_to image_tag(service.service_repair_pic.url(:medium)), service.service_repair_pic.url, rel: 'lightbox', data: {toggle: 'tooltip', position: 'left'}, title: service.service_repair_tag %>
    <% if current_user %>
      <h4><%= link_to 'DELETE', "/well_pumps/service_repairs/#{service.id}", method: :delete, data: { confirm: 'Are you sure?' } %></h4>
    <% end %>
  </div>
<% end %>

<h1 class='back'><%= link_to 'Back', '/well_pumps' %></h1>
