<h1>Office</h1>

<h3><%= link_to 'Water Coolers', '/water_treatment/commercial/office/water_coolers' %></h3>
<h3><%= link_to 'Kitchen Drinking Water | Icemakers', '/water_treatment/commercial/office/drinking_water_icemakers' %></h3>
