<h1 class="text-center">PUMPS | TANKS | BOOSTERS</h1>

<% if current_user %>
  <h2><%= link_to 'New Picture', '/well_pumps/commercial/pumps_tanks_boosters/new' %></h2>
<% end %>

<% @pumps_tanks_boosters.each do |ptb| %>
  <div class='images'>
    <%= link_to image_tag(ptb.ptb_pic.url(:medium)), ptb.ptb_pic.url, rel: 'lightbox', data: {toggle: 'tooltip', position: 'left'}, title: ptb.ptb_tag %>
    <% if current_user %>
      <h4><%= link_to 'DELETE', "/well_pumps/commercial/pumps_tanks_boosters/#{ptb.id}", method: :delete, data: { confirm: 'Are you sure?' } %></h4>
    <% end %>
  </div>
<% end %>



<h1 class='back'><%= link_to 'Back', '/well_pumps/commercial' %></h1>
