<h1>PUMPS | TANKS | BOOSTERS</h1>

<% if current_user %>
  <h4><%= link_to 'New Picture', '/well_pumps/commercial/pumps_tanks_boosters/new' %></h4>
<% end %>

<% @pumps_tanks_boosters.each do |ptb| %>
  <%= image_tag(ptb.ptb_pic.url(:medium)) %>
  <% if current_user %>
    <h4><%= link_to 'DELETE', "/well_pumps/commercial/pumps_tanks_boosters/#{ptb.id}", method: :delete, data: { confirm: 'Are you sure?' } %></h4>
  <% end %>
<% end %>



<h2><%= link_to 'Back', '/well_pumps/commercial' %></h2>
