<div class='new_picture'>
  <%= form_for WaterCooler.new, url: '/water_treatment/commercial/office/water_coolers', html: { multipart: true } do |f| %>
    <h3>Add A New Photo</h3>
    <%= f.file_field :water_cooler_pic %>
    <br>
    <h3>Add A New Tag Line</h3>
    <%= f.text_field :water_cooler_tag, class: 'form-control', rows: 8 %>
    <br>
    <%= f.submit %>
  <% end %>
</div>
