<div class="new_picture">
  <%= form_for Trenching.new, url: '/well_pumps/commercial/trenchings', html: { multipart: true } do |f| %>
    <h3>Add A New Picture</h3>
    <%= f.file_field :trench_pic %>
    <br>
    <h3>Add A Tag Line</h3>
    <%= f.text_field :trenching_tag, class: 'form-control', rows: 8 %>
    <br>
    <%= f.submit %>
  <% end %>
</div>
