<h1>LOW YIELDING WELLS</h1>

<% if current_user %>
  <h3><%= link_to 'New Picture', '/water_storage/low_yielding_wells/new' %></h3>
<% end %>

<% @low_yielding_wells.each do |low_yield| %>
  <%= image_tag(low_yield.low_yield_pic.url(:medium)) %>
  <% if current_user %>
    <h4><%= link_to 'DELETE', "/water_storage/low_yielding_wells/#{low_yield.id}", method: :delete, data: { confirm: 'Are you sure?' } %></h4>
  <% end %>
<% end %>

<h2><%= link_to 'Back', '/water_storage' %></h2>
