<h1>Whole House RO</h1>
<% if current_user %>
  <h3><%= link_to 'New Picture', '/water_treatment/reverse_osmosis/whole_houses/new' %></h3>
<% end %>

<% @whole_houses.each do |house| %>
  <div class='images'>
    <%= link_to image_tag(house.house_pic.url(:medium)), house.house_pic.url, rel: 'lightbox' %>
    <% if current_user %>
      <h4><%= link_to 'DELETE', "/water_treatment/reverse_osmosis/whole_houses/#{house.id}", method: :delete, data: { confirm: 'Are you sure?' } %></h4>
    <% end %>
  </div>
<% end %>

<h1 class='back'><%= link_to 'Back', '/water_treatment/reverse_osmosis' %></h1>
