<div class='new_picture'>
  <%= form_for WholeHouse.new, url: '/water_treatment/reverse_osmosis/whole_houses', html: { multipart: true } do |f| %>
    <h3>Add A New Photo</h3>
    <%= f.file_field :house_pic %>
    <br>
    <h3>Add A New Tag Line</h3>
    <%= f.text_field :whole_house_tag, class: 'form-control', rows: 8 %>
    <br>
    <%= f.submit %>
  <% end %>
</div>
