<h1>Sup from water storage options ya punks</h1>

<h3><%= link_to 'Low Yielding Wells', '/water_storage/low_yielding_wells' %></h3>
<h3><%= link_to 'Irrigation Storage', '/water_storage/irrigation_storage' %></h3>
