<h1>Custom Applications</h1>

<% if current_user %>
  <h3><%= link_to 'New Picture', '/water_treatment/commercial/hospitality/custom_applications/new' %></h3>
<% end %>

<% @custom_applications.each do |custom| %>
  <div class='images'>
    <%= link_to image_tag(custom.custom_app_pic.url(:medium)), custom.custom_app_pic.url, rel: 'lightbox' %>
    <% if current_user %>
      <h4><%= link_to 'DELETE', "/water_treatment/commercial/hospitality/custom_applications/#{custom.id}", method: :delete, data: { confirm: 'Are you sure?' } %></h4>
    <% end %>
  </div>
<% end %>

<h1 class='back'><%= link_to 'Back', '/water_treatment/commercial/hospitality' %></h1>
