<div class='center'>
  <h1>Hospitality</h1>
  <hr class="hr2">
  <!-- <a href='/water_treatment/commercial/hospitality/softners'><button type="button" class="btn btn-secondary btn-lg home_btn"><h3>Softners</h3></button></a><br>
  <a href='/water_treatment/commercial/hospitality/chlorine_removals'><button type="button" class="btn btn-secondary btn-lg home_btn"><h3>Chlorine Removal</h3></button></a><br>
  <a href='/water_treatment/commercial/hospitality/ultrapure_process_reverse_osmosis'><button type="button" class="btn btn-secondary btn-lg home_btn"><h3>UltraPure Water<br>Process Water<br>Reverse Osmosis</h3></button></a><br>
  <a href='/water_treatment/commercial/hospitality/custom_applications'><button type="button" class="btn btn-secondary btn-lg home_btn"><h3>Custom Applications</h3></button></a><br> -->
  <div class="text-justify menu_box">
    <a class="menu_link inline" href="/water_treatment/commercial/hospitality/softners"><div class="circle inline"></div><h1 class="link_text inline">Softners</h1></a><br>
    <a class="menu_link inline" href="/water_treatment/commercial/hospitality/chlorine_removals"><div class="circle inline"></div><h1 class="link_text inline">Chlorine Removal</h1></a><br>
    <a class="menu_link inline" href="/water_treatment/commercial/hospitality/ultrapure_process_reverse_osmosis"><div class="circle inline"></div><h1 class="link_text inline">Ultrapure | Process | Reverse Osmosis</h1></a><br>
    <a class="menu_link inline" href="/water_treatment/commercial/hospitality/custom_applications"><div class="circle inline"></div><h1 class="link_text inline">Custom Applications</h1></a>
  </div>
</div>
<h1 class='back'><%= link_to 'Back', '/water_treatment/commercial' %></h1>
