<h1>sup from water treatment</h1>

<h3><%= link_to 'Commercial', '/water_treatment/commercial' %></h3>
<h3><%= link_to 'Residential', '/water_treatment/residential' %></h3>
<h3><%= link_to 'Reverse Osmosis | Clean Drinking Water', '/water_treatment/reverse_osmosis' %></h3>

<h2><%= link_to 'Back', '/' %></h2>
