<div class='center'>
  <h1>WATER TREATMENT</h1>
  <hr class="hr2">
  <!-- <a href='/water_treatment/commercial'><button type="button" class="btn btn-secondary btn-lg home_btn"><h3>Commercial</h3></button></a><br>
  <a href='/water_treatment/residential'><button type="button" class="btn btn-secondary btn-lg home_btn"><h3>Residential</h3></button></a><br>
  <a href='/water_treatment/reverse_osmosis'><button type="button" class="btn btn-secondary btn-lg home_btn"><h3>Reverse Osmosis<br>Clean Drinking Water</h3></button></a><br> -->
  <div class="text-justify menu_box">
    <a class="menu_link inline" href="/water_treatment/commercial"><div class="circle inline"></div><h1 class="link_text inline">Commercial</h1></a><br>
    <a class="menu_link inline" href="/water_treatment/residential"><div class="circle inline"></div><h1 class="link_text inline">Residential</h1></a><br>
    <a class="menu_link inline" href="/water_treatment/reverse_osmosis"><div class="circle inline"></div><h1 class="link_text inline">Reverse Osmosis</h1></a>
  </div>
</div>
<h1 class='back'><%= link_to 'Back', '/' %></h1>
