<div class='center'>
  <h1>Water Treatment COMMERCIAL</h1>
  <hr class="hr2">
  <!-- <a href='/water_treatment/commercial/hospitality'><button type="button" class="btn btn-secondary btn-lg home_btn"><h3>Food Service | Hospitality<br>Strip Mall | MISC</h3></button></a><br>
  <a href='/water_treatment/commercial/office'><button type="button" class="btn btn-secondary btn-lg home_btn"><h3>Office</h3></button></a><br> -->
  <div class="text-justify menu_box">
    <a class="menu_link inline" href="/water_treatment/commercial/hospitality"><div class="circle inline"></div><h1 class="link_text inline">Food Service | Hospitality | Malls | Misc</h1></a><br>
    <a class="menu_link inline" href="/water_treatment/commercial/office"><div class="circle inline"></div><h1 class="link_text inline">Office</h1></a>
  </div>
</div>
<h1 class='back'><%= link_to 'Back', '/water_treatment' %></h1>
