<div class='center'>
  <h1>Water Treatment COMMERCIAL</h1>
  <hr>
  <h3><%= link_to 'Food Service | Hospitality | Strip Mall | Misc', '/water_treatment/commercial/hospitality' %></h3>
  <h3><%= link_to 'Office', '/water_treatment/commercial/office' %></h3>
</div>
<h2><%= link_to 'Back', '/water_treatment' %></h2>
