<div class='center'>
  <h1>WELL PUMPS</h1>
  <hr class="hr2">
  <!-- <a href="/well_pumps"><button type="button" class="btn btn-secondary btn-lg home_btn"><h3>Well Pumps</h3></button></a><br> -->
  <div class="well_pumps_header">
    <h3>They work hard for a long me in unforgivable condions... and then  they die with no warnings....</h3>
    <h3>When that happens, give us a call.</h3><br>
    <h3>We have all the tools to replace pumps quickly and professionally.</h3>
  </div>
  <br>
  <hr>
  <!-- <a href='/well_pumps/commercial'><button type="button" class="btn btn-secondary btn-lg home_btn"><h3>Commercial</h3></button></a><br>
  <a href='/well_pumps/residential'><button type="button" class="btn btn-secondary btn-lg home_btn"><h3>Residential</h3></button></a><br>
  <a href='/well_pumps/service_repairs'><button type="button" class="btn btn-secondary btn-lg home_btn"><h3>Service Repairs</h3></button></a><br>
  <a href='/well_pumps/well_inspections'><button type="button" class="btn btn-secondary btn-lg home_btn"><h3>Well Inspections</h3></button></a><br> -->
  <div class="text-justify menu_box">
    <a class="menu_link inline" href="/well_pumps/commercial"><div class="circle inline"></div><h1 class="link_text inline">Commercial</h1></a><br>
    <a class="menu_link inline" href="/well_pumps/residential"><div class="circle inline"></div><h1 class="link_text inline">Residential</h1></a><br>
    <a class="menu_link inline" href="/well_pumps/service_repairs"><div class="circle inline"></div><h1 class="link_text inline">Service Repairs</h1></a><br>
    <a class="menu_link inline" href="/well_pumps/well_inspections"><div class="circle inline"></div><h1 class="link_text inline">Well Inspections</h1></a>
  </div>
</div>
<h1 class='back'><%= link_to 'Back', '/' %></h1>
