<h1>sup from well pumps menu bitches</h1>

<h3><%= link_to 'Commercial', '/well_pumps/commercial' %></h3>
<h3><%= link_to 'Residential', '/well_pumps/residential' %></h3>
<h3><%= link_to 'Well Service and Repair', '/well_pumps/service_repair' %></h3>
<h3><%= link_to 'Well Inspections', '/well_pumps/well_inspections' %></h3>
