<h1>hello from well pumps/commercial page</h1>

<h3><%= link_to 'Crane Services', '/well_pumps/commercial/crane_services' %></h3>
<h3><%= link_to 'Trenching', '/well_pumps/commercial/trenching' %></h3>
<h3><%= link_to 'Pumps Tanks and Boosters', '/well_pumps/commercial/pumps_tanks_boosters' %></h3>
