<div class='center'>
  <h1>COMMERCIAL WELL PUMPS</h1>
  <hr class="hr2">
  <h3><%= link_to 'Crane Services', '/well_pumps/commercial/crane_services' %></h3>
  <h3><%= link_to 'Trenching', '/well_pumps/commercial/trenchings' %></h3>
  <h3><%= link_to 'Pumps Tanks and Boosters', '/well_pumps/commercial/pumps_tanks_boosters' %></h3>
</div>
<h1 class='back'><%= link_to 'Back', '/well_pumps' %></h1>
