<h1>WATER TESTING</h1>

<% if current_user %>
  <h3><%= link_to 'New Picture', '/water_testings/new' %></h3>
<% end %>

<% @water_testings.each do |water| %>
  <%= image_tag(water.water_testing_pic.url(:medium)) %>
  <% if current_user %>
    <h4><%= link_to 'DELETE', "/water_testings/#{water.id}", method: :delete, data: { confirm: 'Are you sure?' } %></h4>
  <% end %>
<% end %>

<h2><%= link_to 'Back', '/' %></h2>
