/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  .desktop_nav {
    visibility: hidden!important;
  }
  .mobile_nav {
    visibility: visible!important;
  }
  .header_inner {
    padding: 2em 0!important;
  }
  .header_image {
    margin-left: 0!important;
  }
  .header_phone {
    margin: 0!important;
  }
  .nav {
    margin: 0em!important;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .desktop_nav {
    visibility: hidden!important;
  }
  .mobile_nav {
    visibility: visible!important;
  }
  .header_inner {
    padding: 2em 0!important;
  }
  .header_image {
    margin-left: 0!important;
  }
  .header_phone {
    margin: 0!important;
  }
  .nav {
    margin: 0em!important;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .desktop_nav {
    visibility: hidden!important;
  }
  .mobile_nav {
    visibility: visible!important;
  }
  .header_inner {
    padding: 2em 0!important;
  }
  .header_image {
    margin-left: 0!important;
  }
  .header_phone {
    margin: 0!important;
  }
  .nav {
    margin: 0em!important;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .desktop_nav {
    visibility: hidden!important;
  }
  .mobile_nav {
    visibility: visible!important;
  }
  .header_inner {
    padding: 2em 0!important;
  }
  .header_image {
    margin-left: 0!important;
  }
  .header_phone {
    margin: 0!important;
  }
  .nav {
    margin: 0em!important;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
  .desktop_nav {
    visibility: hidden!important;
  }
  .mobile_nav {
    visibility: visible!important;
  }
  .header_inner {
    padding: 2em 0!important;
  }
  .header_image {
    margin-left: 0!important;
  }
  .header_phone {
    margin: 0!important;
  }
  .nav {
    margin: 0em!important;
  }
}
