/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  .desktop_nav {
    display: none!important;
  }
  .mobile_nav {
    display: block!important;
  }
  .header_inner {
    padding: 2em 0!important;
  }
  .header_image {
    margin: 0!important;
  }
  .header_phone {
    margin: 1em 0 0 0!important;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .desktop_nav {
    display: none!important;
  }
  .mobile_nav {
    display: block!important;
  }
  .header_inner {
    padding: 2em 0!important;
  }
  .header_image {
    margin: 0!important;
  }
  .header_phone {
    margin: 1em 0 0 0!important;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .desktop_nav {
    display: none!important;
  }
  .mobile_nav {
    display: block!important;
  }
  .header_inner {
    padding: 2em 0!important;
  }
  .header_image {
    margin: 0!important;
  }
  .header_phone {
    margin: 1em 0 0 0!important;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .desktop_nav {
    display: none!important;
  }
  .mobile_nav {
    display: block!important;
  }
  .fa-bars {
    padding: .2em 0!important;
  }
  .header_inner {
    padding: 2em 0!important;
  }
  .header_image {
    margin: 0!important;
  }
  .header_phone {
    margin: 1em 0 0 0!important;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
  .desktop_nav {
    display: none!important;
  }
  .mobile_nav {
    display: block!important;
  }
  .fa-bars {
    padding: .2em 0!important;
  }
  .header_inner {
    padding: 2em 0!important;
  }
  .header_image {
    margin: 0!important;
  }
  .header_phone {
    margin: 1em 0 0 0!important;
  }
}
