body {
  margin-top: 7em;
}

textarea {
  resize: none;
}

hr {
  border-color: black;
  margin: 1.2em 10em;
}

a:hover {
  background: none;
  text-decoration: none;
  color: inherit;
}

.nav {
  border-bottom: 0px;
  font-size: 1.3em;
  margin: .7em 0;
}

.navbar {
  background-color: #5FC9F3;
}

.nav-tabs li a:hover {
  background: #2E79BA;
  border: none;
}

.nav-tabs .open li a:active {
  background-color: #5FC9F3;
}

.nav .open a:focus {
  background-color: #2E79BA;
}

/*.website_header {

}*/

.user_stuff {
  /*text-align: right;*/
  margin-top: 2em;
}

.center {
  text-align: center;
}

.center-justified {
  text-align: justify;
  margin: 0 auto;
  width: 30em;
}

.back {
  /*margin: 1em 0 0 1.5em;*/
}

.images {
  display: inline-block;
  padding: 2em;
}

.images img {
  border-radius: 20px;
  height: 210px;
  width: 210px;
}

.login_form, .signup_form {
  width: 50%;
  margin: 5% auto;
}

.pic_link {
  color: white;
}

.home_btn {
  color: white;
  background-image: url('https://placeimg.com/1000/250/nature');
  border: 1px solid white;
  padding: 3em 5em;
  margin: 2em 0;
}

.storage_button {
  border-radius: 15px;
  border: 1px solid black;
  padding: 3em 5em;
  background: white;
}

.testings_button {
  border: 1px solid black;
  padding: 3em 4em;
  background: #88BEF5;
}
