body {
  margin-top: 7em;
  font-family: 'Rufina', serif;
}

textarea {
  resize: none;
}

hr {
  border-color: black;
  margin: 1.2em 10em;
}

.inline {
  display: inline-block;
}

.inactive {
  display: none;
}

.hr2 {
  margin: 1.2em 30em;
}

a:hover {
  background: none;
  text-decoration: none;
  color: inherit;
}

.nav {
  border-bottom: 0px;
  font-size: 1.3em;
  margin: .7em 0;
  /*font-family: 'Rufina', serif;*/
}

p {
  font-size: 1.3em;
  line-height: 1.5em;
}

.navbar {
  background-color: #5FC9F3;
}

.mobile_nav {
  display: none;
}

.nav-tabs li a:hover {
  background-color: #5FC9F3;
  border-color: black;
  color: black;
}

.nav-tabs li a:visited {
  color: black;
}

.nav-tabs li a:focus {
  background: #5FC9F3;
  background-color: #5FC9F3;
  border: 1px black solid;
}

.nav .open a:focus {
  background-color: #5FC9F3;
}

header {
  background-color: #94CBFF;
  margin-top: -2.5em;
}

.header_inner {
  padding: 2em 6em;
}

.header_image {
  margin-left: 5em;
}

.social_media_icons i {
  padding: 0 .4em;
}

.header_phone {
  margin: 1em 5em 0 0;
  color: #363636;
}

#main_dropdown {
  margin: .5em 0 0 3em;
}

#new_pics_dropdown {
  width: 25em;
  height: 3.5em;
}

.flood_button {
  border: 1px solid black;
  height: 3em;
  width: 4em;
}

.user_stuff {
  /*text-align: right;*/
  margin-top: 2em;
}

.center {
  text-align: center;
}

.center-justified {
  text-align: justify;
  margin: 0 auto;
  width: 30em;
}

.back {
  /*margin: 1em 0 0 1.5em;*/
}

.images {
  display: inline-block;
  padding: 2em;
}

.images img {
  border-radius: 20px;
  height: 210px;
  width: 210px;
}

.login_form, .signup_form {
  width: 50%;
  margin: 5% auto;
}

/*.pic_link {
  color: white;
}

.home_btn {
  color: white;
  background-image: url('https://placeimg.com/1000/250/nature');
  border: 1px solid white;
  margin: 2em 0;
  width: 500px;
  height: 166px;
}*/

.menu_box {
  margin: 0 auto;
  width: 50em;
}


.menu_link {
  margin-top: 1em;
}

.circle {
  height: 75px;
  width: 75px;
  border-radius: 100%;
  background: black;
  margin-right: 1.3em;
}

.link_text {
  float: right;
}


.main_content_section {
  margin: 0 10em;
}

.new_picture {
  margin: 5em 45em;
}

.sub_header h2 {
  display: inline-block;
  padding: 0 1em;
  cursor: pointer;
}

.home_btn:hover {
  color: white;
}

.fa-bars {
  padding: .3em 0;
}

/*Overlay hiding stuff for not mobileness*/
#overlay-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.8;
  z-index: 5;
  display: none;
}

#overlay {
  text-align: center;
  position: absolute;
  top: 25em;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: none;
}

.phone_nav {
  display: none;
  text-decoration: none;
  z-index: 5;
  color: white!important;
  font-size: 5em;
  top: 10em!important;
}

.picture_box {
  width: 262;
}

.tooltip {
  font-size: 10em!important;
  width: 400px;
  background: blue;
}
