body {
  margin-top: 6em;
}

textarea {
  resize: none;
}

hr {
  border-color: black;
  margin: 1.2em 10em;
}

a:hover {
  background: none;
  color: black;
}

.nav {
  border-bottom: 0px;
  font-size: 1.3em;
  margin: .4em 0;
}

.website_header {
  
}

.user_stuff {
  /*text-align: right;*/
  margin-top: 2em;
}

.center {
  text-align: center;
}

.center-justified {
  text-align: justify;
  margin: 0 auto;
  width: 30em;
}

.back {
  /*margin: 1em 0 0 1.5em;*/
}

.images {
  display: inline-block;
  padding: 2em;
}

.images img {
  border-radius: 20px;
  height: 210px;
  width: 210px;
}

.login_form, .signup_form {
  width: 50%;
  margin: 5% auto;
}
