<div class="new_picture">
  <%= form_for Basement.new, url: '/water_treatment/reverse_osmosis/basements', html: { multipart: true } do |f| %>
    <h3>Add A New Photo</h3>
    <%= f.file_field :basement_pic %>
    <br>
    <h3>Add A New Tag Line</h3>
    <%= f.text_field :basement_tag, class: 'form-control', rows: 8 %>
    <br>
    <%= f.submit %>
  <% end %>
</div>
