<div class='center'>
  <h1>RESIDENTIAL</h1>
  <hr class="hr2">
  <a href='/well_pumps/residential/new_service_lines'><button type="button" class="btn btn-secondary btn-lg home_btn"><h3>New Service Lines</h3></button></a><br>
  <a href='/well_pumps/residential/new_pumps_pressure_tanks'><button type="button" class="btn btn-secondary btn-lg home_btn"><h3>News Pumps &amp; Pressure Tanks</h3></button></a><br>
  <a href='/well_pumps/residential/emergency_services'><button type="button" class="btn btn-secondary btn-lg home_btn"><h3>Emergency Services</h3></button></a><br>
  <a href='/well_pumps/residential/repairs_conversions_pit_repairs'><button type="button" class="btn btn-secondary btn-lg home_btn"><h3>Custom Repairs<br>Jet Pump Conversions<br>Well Pit Repairs</h3></button></a><br>
</div>
<h1 class='back'><%= link_to 'Back', '/well_pumps' %></h1>
