<h1 class="text-center">Kitchen Drinking Water and Icemakers</h1>
<% if current_user %>
  <h3><%= link_to 'New Picture', '/water_treatment/commercial/office/drinking_water_icemakers/new' %></h3>
<% end %>

<% @icemakers.each do |ice| %>
  <div class='images'>
    <%= link_to image_tag(ice.icemaker_pic.url(:medium)), ice.icemaker_pic.url, rel: 'lightbox', data: {toggle: 'tooltip', position: 'left'}, title: ice.icemaker_tag %>
    <% if current_user %>
      <h4><%= link_to 'DELETE', "/water_treatment/commercial/office/drinking_water_icemakers/#{ice.id}", method: :delete, data: { confirm: 'Are you sure?' } %></h4>
    <% end %>
  </div>
<% end %>

<h1 clas='back'><%= link_to 'Back', '/water_treatment/commercial/office' %></h1>
