<div class='center'>
  <h1>REVERSE OSMOSIS</h1>
  <hr>
  <h3><%= link_to 'Undersink RO', '/water_treatment/reverse_osmosis/undersinks' %></h3>
  <h3><%= link_to 'Basement RO', '/water_treatment/reverse_osmosis/basements' %></h3>
  <h3><%= link_to 'Whole House RO', '/water_treatment/reverse_osmosis/whole_houses' %></h3>
</div>
<h1 class='back'><%= link_to 'Back', '/water_treatment' %></h1>
