<div class='new_picture'>
  <%= form_for Softner.new, url: '/water_treatment/commercial/hospitality/softners', html: { multipart: true } do |f| %>
    <h3>Add A New Photo</h3>
    <%= f.file_field :softner_pic %>
    <br>
    <h3>Add A New Tag Line</h3>
    <!-- <%= f.text_field :softner_tag, class: 'form-control', rows: 8 %> -->
    <br>
    <%= f.submit %>
  <% end %>
</div>
